<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}
  {% if NODE_ENV == "development" %}
    <script type="module" src="http://localhost:5173/@vite/client" defer></script>
    <script type="module" src="http://localhost:5173/client/index.js" defer></script>
  {% else %}
    <link rel="stylesheet" href="/index.css">
    <script src="/index.js" defer></script>
  {% endif %}
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

<body>
  <header>
    {% comment %} Deze header staat op elke pagina {% endcomment %}
    <div class="header">
    {% comment %} <h1>{{ title }}</h1> {% endcomment %}
    <nav>
      <a href="/">Featured Artists</a>
      <a href="/all-artists" class="active">All Artists</a>
      <a href= "javascript:;" class="playlistlink">Playlist</a>
    </nav>
  </div>

  </header>

  
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    Deze footer staat op elke pagina
  </footer>
</body>
</html>
