

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 12em;
  max-width: 300px;
  background-color: #8b94a3 ;
  padding: .5em;
  border-radius: 2px;
}

.card__image {
  width: 100%;
  height: auto;
  /* margin-top: 1rem; */
  
}

a{

  padding: .5em;
}

